img{
  max-width: 100%
}


*, *:before, *:after {
  box-sizing: border-box;
}

.status-bar {
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
}

.nav {
  padding-top: 15px;
}



.app {
  margin: 0 auto;
  width: auto;
  height: 657px;
  min-width: 375px;
  overflow-y: scroll;
  box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.rectangle {
  width: 375px;
  height: 311px;
  margin: auto;
  background-color: #2D9CDB;

}

.back-arrow {
  position: absolute;
  width: 20px;
  margin: 15px 5px 15px 5px;
}


.location-button {
  border: 1px solid white;
  background-color: #2D9CDB;
  border-radius: 14.5px;
  color: white;
  text-align: center;
  height: 29px;
  width: 172px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin: 11px 102px 12px 102px;
  box-sizing: border-box;
}


body {
  font-family: 'Karla';
}

h1 {
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 9px;
}

h2 {
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: 16px;
  font-style: italic;
  padding-left: 13px;
  color: #666666;
}


h4 {
  font-size: 14px;
  padding-left: 13px;
  padding-bottom: 2.4px;
  font-weight: bolder;
  color: #666666;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2D9CDB;
}

h6 {
  font-size: 13px;
  padding-left: 13px;
  padding-bottom: 2.6px;
  color: #666666;
}

li {
  clear: both;
  border-bottom: 1px solid #666666;
}

li div {
  float: left;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.arrival {
  height: 2em;
  background: url('https://png.icons8.com/windows/50/666666/forward.png') center right;
  background-size: 20px auto;
  background-repeat: no-repeat;
  padding-right: 20px;
}
